/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

/*分隔線是我*/

.header{
    margin-bottom: 30px;
}


.header .img{
    position: absolute;
    background-color: #BFBFBF;
    border: 1px #BFBFBF solid;
    border-radius: 15px 15px 15px 15px ;
    left: 5%;
    top: 2%;
    width: 10.8%;
    padding: 10px;
}

.header ul{
    display: flex;
    flex-direction: row-reverse;
}

.header li{
    margin: 20px;
}

.header .li{
    margin-right: 150px;
}

.header a{
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover{
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}



.title{
    background-color: #454545;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.title h1{
    font-size: 32px;
    padding: 20px;
    font-weight: bold;
}

.title h2{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    
}

.title span{
    color: #FFC559;
}

.header .build img{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
/*區塊分隔線*/
h5{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.content{
    display: flex;
    margin: 0 auto;
    background-color: #EDEDED;
    margin-bottom: 30px;
}

.content img{
    width: 300px;
    height: 300px;
}

.name{
    background-color: #EDEDED;
    
}

.name h2{
    font-size: 50px;
    padding-left: 30px;
    padding-top: 50px;
}

.name span{
    font-size: 30px;
}

.name p{
    font-size: 22px;
    text-indent: 44px;
    line-height: 1.4;
    padding: 20px 30px;
    text-align: justify;
}

/*區塊分隔線*/

.content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 500px;
    height: 500px;
    background-color: #cccfd9;
    padding-bottom: 200px;
    line-height: 50px; 
}

.box h3{
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    display: table;
}

.box ul{
    list-style: disc;
    margin-top: 30px;
    list-style-position:inside;

    margin-left: auto; 
    margin-right: auto; 
    display: table; 
     
}

.box li{
    font-size: 22px;
    margin-top: 30px;
}


.box2 {
    width: 500px;
    height: 500px;
    background-color: #98a4b5;
    text-align: center;
    padding-bottom: 10px;
    
}


.box3 {
    width: 500px;
    height: 500px;
    background-color: #cccfd9;
    text-align: center;
    
}

.box2 img{
    width: 200px;
    height: 200px;
    margin-top: 60px;
    
}

.box2 h3{
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    display: table;
}

.box2 p{
    margin: 20px 50px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.7;
}

.box2 span{
    font-weight: bold;
}

.box3 h3{
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    display: table;
}

.box3 p{
    margin: 20px 50px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.7;
}

.box3 span{
    font-weight: bold;
}

.box3 img{
    width: 70%;
    height: 70%;
    margin-top: 20px;
}

.box4 {
    width: 500px;
    height: 500px;
    background-color: #cccfd9;
    text-align: center;
    
}

.box4 .pic{
    display: flex;
    overflow: auto;
    height: 350px;
}

.box4 h3{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
    display: table;
}



.box4 img{
    width: 350px;
    height: 300px;
    margin: 0px 10px;
    border: 2px black solid;
    border-radius: 10px;
}

/*區塊分隔線*/

.footer{
    background-color: #E3E3E3;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img{
    width: 32px;
    
}

.footer img:hover{
    width: 32px;
    
}

.footer p{
    margin: 5px;
}

.footer a{
    overflow:hidden;
    white-space: normal;
    width: 32px;
    height: 32px;
}

/*區塊分隔線*/

.back{
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 8px;
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: #FFA600;
    color: white;
    font-weight: bold;
}

.back a{
    color: white;
    text-decoration: none;
}




/*rwd*/

@media (min-width:481px){


}



@media (max-width:480px){

    


    .title h1{
        font-size: 22px;
        margin-left: 30px;
    }

    .header .img{
        top: 10px;
    }

    .header a{
       font-size: 16px;
       white-space: nowrap;
       padding: 5px;
    }

    .header .li{
        
        margin-right: -10%;
    }

    .header ul{
        margin-left: 10% ;
        margin-right: 10% ;
    }



    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .content img{
        
        border: 1px solid black;
    }

    .box,.box2,.box3,.box4{
        height: auto;
        padding-bottom: 50px;
    }

    

    .box2 p{
        font-size: 18px;
    }

    .box2 img{
        padding-bottom: 30px;
    }
  
    .box3 p{
        font-size: 18px;
    }

    .box4{
        width: 100%;
    }
  

    .back{
        right: 5%;
    }
    
    
}

@media (max-width:380px){

    .header .li{
        margin-right: -8%;
    }

    .header li{
        margin: 10px;
    }

}


@media (max-width:360px){

    .header .img{
        left: 0px;
        top: 5px;
        width: 60px;
    }

    .title h2{
        font-size: 15px;
    }

    .header .li{
        margin-right: -11%;
    }

    .header li{
        margin: 10px;
    }

}

@media (max-width:320px){

    .header li{
        margin: 10px;
    }

    .header a{
        padding: 3px;
    }

}